div.container
  div(class="panel panel-default")
    div(class="panel-body").
      Panel content
    div(class="panel-footer").
      Panel footer
  div(ui-grid="gridOptions" ui-grid-pagination class="grid")
  //- br
  //- br 
  //- p Current page: {{ gridApi.pagination.getPage() }} of {{ gridApi.pagination.getTotalPages() }}
  //- button(type="button" class="btn btn-success" ng-click="gridApi.pagination.previousPage()").
  //-   previous page
  //- button(type="button" class="btn btn-success" ng-click="gridApi.pagination.nextPage()").
  //-   next page
  //- button(type="button" class="btn btn-success" ng-click="gridApi.pagination.seek(3)").
  //-   go to page 3
  
